.wrapper {
  height: 100vh;
  display: flex;
  overflow: auto;
}

.LS {
  width: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2em;
  margin-left: 1em;
}

.RS {
  margin-top: 2em;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin-left: .75em;
  margin-right: 1em;
  font-size: 1.5rem;
}

.RS h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: whitesmoke;
  border-bottom: solid darkred;
  width: fit-content;
}

.RS p {
  margin-left: 1em;
}

@media screen and (max-width: 600px) {
  .RS {
    font-size: .75em;
  }
}