.contact {
  height: 100vh;
  flex-direction: column;
  overflow: auto;
  color: whitesmoke;
}

.contact h1 {
  text-align: center;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-bottom: solid darkred;
  margin-bottom: 1em;
  margin-top: .75em;
  font-size: 3.5em;
}

.contact .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .body p {
  text-align: center;
  font-size: 1.75em;
}

.contact-form {
  width: 75%;
  font-size: 1em;
}

.contact form {
  border: solid darkred;
  display: flex;
  flex-direction: column;
}

.contact form label {
  padding: .15em;
}

.contact form input {
  margin: 0 .75em 0 .75em;
}

.contact form small {
  align-self: center;
}

.contact form textarea {
  margin: 0 .75em 0 .75em;
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=email]:focus {
  background-color: lightblue;
}

input[type=tel]:focus {
  background-color: lightblue;
}

textarea:focus {
  background-color: lightblue;
}

.contact form label {
  color: grey;
}

.contact form button {
  background-color: darkred;
  color: black;
  cursor: pointer;
  align-self: center;
  border: none;
  font-size: .75em;
  margin-bottom: .20em;
  margin-top: .20em;
}

form button:hover {
  background-color: indianred;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 600px) {
  .contact h1 {
  font-size: 1.5em;
}

.contact .body p {
  font-size: 1em;
}

.contact-form {
  font-size: .75em;
}
}