.contact {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.contact .leftSide {
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contact .rightSide {
  width: 50%;
  text-align: center;
  align-self: center;
}

.contact .rightSide h1 {
  color: whitesmoke;
}

.contact-form {
  height: 98%;
}

.contact form {
  border: solid darkred;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.contact form label {
  padding: 5px;
}

.contact form input {
  margin-top: 1px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #121619;
  align-self: center;
  width: 95%;
}

.contact form small {
  color: darkred;
  align-self: center;
}

.contact form textarea {
  border: 1px solid #121619;
  align-self: center;
  width: 95%;
}

.contact p {
  color: darkred;
  align-self: center;
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=email]:focus {
  background-color: lightblue;
}

input[type=tel]:focus {
  background-color: lightblue;
}

textarea:focus {
  background-color: lightblue;
}

.contact form label {
  color: grey;
  text-align: center;
}

.contact form button {
  background-color: darkred;
  color: black;
  cursor: pointer;
  align-self: center;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

form button:hover {
  background-color: indianred;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 600px) {
  .contact .rightSide h1 {
    font-size: 1em;
  }

  .contact form {
    padding: 2px;
  }
}

@media screen and (min-width: 1450px) {
    .contact .leftSide {
    background-size: inherit;
  }
}