.footer {
  background-color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: .25em;
  border-top-style: solid;
  border-top-color: black;
  color: whitesmoke;
}

.footer svg {
  /*color: whitesmoke;*/
  font-size: 1.5em;
  margin-right: .75em;
}

.footer svg:hover {
  color:  black;
  transition: .5s ease-in-out;
}

.footer p {
  color: whitesmoke;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {
  .footer {
    padding-top: .15em;
  }

  .footer svg {
    font-size: .75em;
  }

  .footer p {
    font-size: .75em;
  }
}

@media screen and (max-height: 600px) {
  .footer {
  padding-top: .15em;
  }

  .footer svg {
    font-size: .75em;
  }

  .footer p {
    font-size: .75em;
  }
}