.footer {
  background-color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
  border-top-style: solid;
  border-top-color: black;
}

.footer button {
  color: darkred;
  margin-bottom: 0px;
  cursor: pointer;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.footer p {
  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .footer {
  padding-top: 2px;
  }

  .footer p {
    font-size: .75rem;
  }
}

@media screen and (max-height: 600px) {
  .footer {
  padding-top: 2px;
  }

  .footer p {
    font-size: .75rem;
  }
}