.home {
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: auto;
  color: whitesmoke;
}

.headerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.headerContainer h1 {
  font-size: 2em;
  margin-top: .5em;
  border-bottom: solid darkred;
}

.headerContainer p {
  margin-top: .05em;
  font-size: 2em;
  border-bottom: solid darkred;
}

.home .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}