.hours-page {
	height: 100vh;
	color: whitesmoke;
	font-size: 1em;
  overflow: auto;
  margin-top: 1em;
}

.hours-page h1 {
  margin-left: .5em;
  border-bottom: solid darkred;
  width: fit-content;
}

.hours ul {
  margin-top: 1em;
  margin-left: 4em;
}

.hours svg {
  font-size: 3em;
  margin-left: .25em;
  margin-right: .25em;
}

.hours button {
  color: black;
  border: none;
  border-radius: .15em;
  cursor: pointer;
  font-size: 1.25em;
  background-color: darkred;
  margin-bottom: .25em;
}

.hours button:hover {
  background-color: indianred;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.table-container table {
  border: solid darkred;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

.table-container th {
  width: 100em;
  padding: .5em;
  color: darkred;
  text-align: left;
  border-bottom: solid darkred;
}

.table-container .header {
  padding-top: .15em;
}

.table-container td {
  padding: .15em .5em .15em .5em;
}