.inv-wrap {
  height: 100%;
  color: whitesmoke;
  overflow: scroll;
  text-align: center;
}

.inv-wrap img {
  width: 50%;
}

.inv-grid {
  width: 98%;
  height: fit-content;
  text-align: center;
  margin: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}

.inv-wrap1 {
  border: solid darkred;
}

@media screen and (max-width: 600px) {
  
  .inv-wrap1 {
    font-size: 10px;
  }

  .inv-wrap1 button {
    font-size: 8px;
  }
}

@media screen and (max-height: 600px) {
  
  .inv-wrap1 {
    font-size: 10px;
  }

  .inv-wrap1 button {
    font-size: 8px;
  }
}