.inventory {
  height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
  background-color: darkred;
}

.inventory h1 {
  color: whitesmoke;
  font-size: 2rem;
}

.inventory img {
  height: 20vh;
}

.inventory div {
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 40vh;
  color: black;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.inventory p {
  color: whitesmoke;
  font-size: 1rem;
}

.inventory button {
  background-color: darkred;
  color: black;
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  .inventory h1 {
    font-size: .75rem;
  }

  .inventory img {
    height: 10vh;
  }

  .inventory div {
    height: 20vh;
    width: 100px;
  }

  .inventory button {
    font-size: .75rem;
  }

  .inventory p {
    font-size: .5rem;
  }
}

@media screen and (max-height: 600px) {
  .inventory h1 {
    font-size: 1rem;
  }

  .inventory div {
    height: 35vh;
    width: 150px;
  }

  .inventory p {
    font-size: .75rem;
  }
}

@media screen and (max-height: 400px) {
  .inventory {
    margin-left: 10px;
    margin-right: 10px;
  }
  .inventory img {
    height: 18vh;
  }
}