.inv-wrap {
  height: 100vh;
  color: whitesmoke;
  overflow: auto;
  text-align: center;
}

.inv-wrap .search {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 0;
}

.inv-wrap .search input {
  padding-left: .25em;
  margin-right: .3em;
  width: 10em;
  border-radius: .65em;
  align-self: flex-end;
  /*justify-content: flex-end;*/
}

.inv-wrap .search input[type="button"] {
  width: 4em;
}

.inv-wrap .search a {
  align-self: flex-end;
  color: whitesmoke;
  text-decoration: none;
  margin-right: .5em;
}

.inv-wrap .search input[type=text]:focus {
  background-color: lightblue;
}

.inv-wrap img {
  width: 50%;
}

.inv-wrap span {
  border-bottom: solid darkred;
  font-size: 3em;
}

.inv-grid {
  width: 75%;
  padding: 0 .75em 0 .75em;
  height: fit-content;
  text-align: center;
  margin: .25em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .10em;
  /*float: right;*/
}

.inv-wrap1 {
  border: solid darkred;
}

.inv-wrap1 button {
  background-color: darkred;
  color: black;
  border: none;
  border-radius: .15em;
  cursor: pointer;
  margin-bottom: .05em;
  font-size: 1.15em;
}

@media screen and (max-width: 600px) {
  .inv-wrap .search input {
    width: 5.5em;
    margin-right: .1em;
  }

  .inv-wrap .search input[type="button"] {
    width: 5.5em;
  }

  .inv-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .inv-grid {
    grid-template-columns: 1fr;
  }
}