.lessons-page {
	height: 100vh;
	color: whitesmoke;
	text-align: center;
	font-size: 1.5em;
  overflow: auto;
}

.lessons button {
  color: black;
  border: none;
  border-radius: .15em;
  cursor: pointer;
  font-size: 1.5em;
  background-color: darkred;
  margin-bottom: .25em;
  margin-left: .20em;
}

.lessons button:hover {
  background-color: indianred;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.construction img {
	height: auto;
	width: 10em;
	margin-top: 4em;
}