.navbar {
  background-color: darkred;
  display: flex;
  flex-direction: row;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.navbar .leftSide {
  flex: 33%;
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
}

.navbar a:hover {
  color: black;
  transition: .5s ease-in-out;
}

.navbar .center {
  flex: 33%;
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.navbar img {
  width: 70px;
}

.navbar .rightSide {
  flex: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.navbar .nav-menu {
  background-color: darkred;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 71px;
  right: -100%;
  transition: 850ms;
  font-size: 1.5rem;
}

.navbar .nav-menu.active {
  top: 71px;
  right: 0;
  transition: 350ms;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  padding: 15px;
}

.navbar svg:hover {
  color:  black;
  transition: .5s ease-in-out;
}

.navbar svg {
  color: whitesmoke;
  font-size: 40px;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .navbar svg {
    font-size: 20px;
  }

  .navbar img {
    width: 40px;
  }

  .navbar .nav-menu {
    top: 44px;
    font-size: .75rem;
  }

  .navbar .nav-menu.active {
    top: 44px;
  }

  .navbar li {
    padding: 5px;
  }
}