.navbar {
  background-color: darkred;
  display: flex;
  flex-direction: row;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.navbar .home {
  flex: 33%;
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar .link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 30px;
}

.navbar .link:visited {
  text-decoration: none;
}

.navbar .center {
  flex: 33%;
  display: flex;
  justify-content: center;
}

.navbar img {
  width: 70px;
}

.navbar .rightSide {
  flex: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar svg:hover {
  color:  black;
  transition: .5s ease-in-out;
}

.navbar svg {
  color: whitesmoke;
  font-size: 40px;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .navbar svg {
    font-size: 30px;
  }
}