.navbar {
  background-color: darkred;
  display: flex;
  flex-direction: row;
  font-size: 2vw;
}

.navbar .leftSide {
  flex: 50%;
  display: flex;
  align-items: center;
}

.navbar img {
  width: 70px;
}

.navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  margin: 15px;
}

.navbar a:hover {
  color: black;
  transition: .5s ease-in-out;
}

@media screen and (max-width:  700px) {
  .navbar {
  font-size: .75em;
}

.navbar img {
  width: 35px;
}

.navbar a {
  margin: 10px;
}
}

@media screen and (min-width: 1000px) {
  .navbar {
    font-size: 20px;
  }
}