.form {
	height: 100vh;
	color: whitesmoke;
	background-color: black;
	margin: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.form h3 {
	color: darkred;
	text-align: left;
	margin-left: 50px;
}

.form input {
	margin: 5px;
	padding: 15px;
	box-sizing: border-box;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=number]:focus {
  background-color: lightblue;
}

.progress-bar {
	height: 15px;
	background: darkred;
	margin-top: 20px;
}

.error {
	color: darkred;
}

.radio {
	border: solid darkred;
	font-size: 1.5rem;
	margin: 10px 0 10px 0;
	padding: 5px;
}

.form button {
	align-self: center;
	background-color: darkred;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
	.form input {
		margin: 3px;
		padding: 5px;
	}
}