.form {
	height: 100vh;
	color: whitesmoke;
	background-color: black;
	margin: .15em;
	/*text-align: center;*/
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.upload-center h3 {
	text-align: center;
}

.form input {
	margin: .2em;
	padding: .25em;
	box-sizing: border-box;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=number]:focus {
  background-color: lightblue;
}

.progress-bar {
	height: .20em;
	background: darkred;
	margin-top: .5em;
}

.radio {
	border: solid darkred;
	width: fit-content;
	align-self:	center;
	font-size: 1.5em;
	margin: .15em 0 .15em 0;
	padding: .15em;
}

.form button {
	align-self: center;
	background-color: darkred;
	color: black;
	border: none;
	border-radius: .15em;
	cursor: pointer;
	font-size: 1.25em;
}